<!DOCTYPE html>
<html>
<head>
    <title>Theo | Admin Panel</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/styleAdminPanel.css">
    <script src='https://cdn.tiny.cloud/1/tt39uyji8xojs96752r5f8r87jkemc6foohm9ag76b9b9dl9/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinydrive tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter insertfile pageembed permanentpen',
            toolbar_drawer: 'floating'
        });
    </script>
</head>
<body>