<nav class="navbar navbar-expand-lg navbar-light bg-light admin-nav">
    <a class="admin-logo" href="/admin">
        <img src="/static/images/logo-admin.png" alt="theo logo">
    </a>

    <div class="collapse navbar-collapse" id="admin-top-menu-user-section">
        <a class="logout-button" href="/admin/logout">
            Logout
        </a>
    </div>
</nav>