<% include adminHead.ejs %>
<% include adminNav.ejs %>
<div id="content-admin-panel">
    <% include adminMenu.ejs %>
    <div class="admin-start-screen">
        <h1>
            Welcome to admin panel, <%= adminName %>!
        </h1>
    </div>
</div>

<% include adminPanelFooter.ejs %>