<% include adminHead.ejs %>
<% include adminNav.ejs %>
<div id="content-admin-panel">
    <% include adminMenu.ejs %>
    <div class="web-statistics">
        <h2>
            Web statistics/Google Analytics
        </h2>
    </div>
</div>

<% include adminPanelFooter.ejs %>