<div id="level-1">
    <div id="menu" class="main-menu">
        <div class="menu-part-1">
            <a class="logo" href="">
                <img src="/static/images/logo.png" alt="">
            </a>
        </div>
        <div class="menu-part-2">
            <ul class="menu">
                <li><a href="#level-2">Background</a></li>
                <li><a href="#level-3">Naše produkty</a></li>
                <li><a href="#level-4">Naš tým</a></li>
                <li><a href="#level-5">Crowdfunding</a></li>
                <li><a href="#level-6">Wall of Fame</a></li>
            </ul>
        </div>
    </div>
    <div class="central-content">
        <div class="central-content-1">
            <img src="/static/images/bitmap.png" alt="">
        </div>
        <div class="central-content-2">
            <h2>Po<strong class="color-letter">d</strong>me rozjet <br> něco velkého společně!</h2>
        </div>
    </div>
</div>