<div id="level-4">
    <div class="container">
        <h2>Na<strong class="color-letter">š</strong> tým</h2>
        <div class="theo-team">
            <div class="team-person team-person-left">
                <img class="team-image" src="/static/images/theo_creator.jpg" alt="theo creator">
                <div class="team-about">
                    <p class="team-name">Allayar "Ali" Allayarov</p>
                    <p class="team-text">
                        <strong class="color-letter">«</strong> Baví mě dělat věci jinak a přinášet lidem radost s chutí!
                        Minulé to byl "Kabinet", dnes je "theo"! <strong class="color-letter">»</strong>
                    </p>
                </div>
            </div>
            <div class="team-person team-person-right">
                <div class="team-about">
                    <p class="team-name">Petr Heyduk</p>
                    <p class="team-text">
                        <strong class="color-letter">«</strong> Kdybychom to nechali na ně, tak doteď kourime 2 jabka na
                        alobalu . Už jednou jsem obohatil českou scénu o zahraniční tabák, a teď je na čase zpestřit
                        zahraniční scénu o český tabák! <strong class="color-letter">»</strong>
                    </p>
                </div>
                <img class="team-image" src="/static/images/petr_heyduk.jpg" alt="theo team">
            </div>
        </div>
    </div>
</div>