<%include head.ejs%>
  <body>
      <div id="loaderArea">
          <div id="loader">Loading...</div>
      </div>
      <%include firstLevel.ejs%>
      <%include secondLevel.ejs%>
      <%include thirdLevel.ejs%>
      <%include fouthLevel.ejs%>
      <%include fifthLevel.ejs%>
      <%include sixLevel.ejs%>
  </body>
<%include footer.ejs%>
