<div id="level-2">
    <div class="container">
        <h2>Ba<strong class="color-letter">c</strong>kground</h2>
        <section class="timeline">
            <div class="container">
                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/kabinet_holicu.JPG" alt="kabinet holicu">
                        </div>
                        <div class="date">02/2016</div>
                        <p>
                            Kabinet Huličů vzniká jako vikendová dymkárna v prostoreh holičství "Kabinet Holičů".
                            Protože Tom Holič (founder holičství) byl dobrý kamarád Aliho.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/fratelli_kabinet.jpg" alt="fratelli and kabinet">
                        </div>
                        <div class="date">05/2016</div>
                        <p>Vodní dýmky stali k máni i pro milovniky vina a kávy. Začatek kejteringu ve Fratelli (Brno)</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/kabinet_hulicu_banner.png" alt="kabinet hulicu">
                        </div>
                        <div class="date">10/2016</div>
                        <p>
                            Nová posila projektu, zkušený podnikatel Moaz, díky kterému Kabinet se stěhuje do skvělých
                            prostoru v srdci Brna. A tím se stává spolumajitelem podniku "Kabinet Huličů".
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/kabinet_hulicu2.jpg" alt="kabinet hulicu staff">
                        </div>
                        <div class="date">01/2017</div>
                        <p>Oficialní zahájení provozu Kabinet Huličů na místě kde je dodnes...... asi</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/experimenty.jpg" alt="kabinet stuff">
                        </div>
                        <div class="date">01/2018</div>
                        <p>
                            Záčátky experimentů s vyrobou vlastní černoty.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/new_vaze.jpeg" alt="kabinet hulicu V1 vaze">
                        </div>
                        <div class="date">04/2018</div>
                        <p>Narození V1. vázy</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/theo_logo.jpg" alt="theo first logo">
                        </div>
                        <div class="date">05/2018</div>
                        <p>
                            Vznik značky "theo.czech". Z rodu okolnosti "theo" v řečtině znamená to stejné co "allayar"
                            (real name of Ali) v perštině. Myslíte si, že to je náhoda? #wedontknow
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/bye_kabinet.jpg" alt="kabinet hulicu streat">
                        </div>
                        <div class="date">09/2018</div>
                        <p>Rozpor ve vztazích vedení. A Ali přestáva být současti Kabinetu Huličů. #amen</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/our_tabak.png" alt="theo tabako">
                        </div>
                        <div class="date">04/2019</div>
                        <p>
                            "Už se to dá kouřit, pane". A pozor! Naše tabáky nejsou testovaný na králicích nebo myších,
                            jen 100% na lidéch.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/theo-vase.jpg" alt="theo vase V2">
                        </div>
                        <div class="date">05/2019</div>
                        <p>Narození V2.vázy.</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/ostrava_fest.jpg" alt="ostrava v dymu">
                        </div>
                        <div class="date">06/2019</div>
                        <p>
                            Prezentace tabáků a váz "theo" na festivalu Ostrava v Dýmu.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/assortiment_theo.jpeg" alt="theo assortiment tabako">
                        </div>
                        <div class="date">07/2019</div>
                        <p>První prodej pro hosty dymkáren nanečisto.</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/v2_black.jpg" alt="ostrava v dymu">
                        </div>
                        <div class="date">09/2019</div>
                        <p>
                            Nový přirustek do rodiny, vaza V2 BLVCK.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">

                    <div class="timeline-img"></div>

                    <div class="timeline-content timeline-card js--fadeInRight">
                        <div class="timeline-img-header">
                            <img src="/static/images/theo_tabako.jpeg" alt="theo tabako">
                        </div>
                        <div class="date">09/2019</div>
                        <p> Tabák "theo" je k mání v dymkárnach v Brně, Praze. A dokonce i na Slovensku!</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-img"></div>
                    <div class="timeline-content timeline-card js--fadeInLeft">
                        <div class="timeline-img-header">
                            <img src="/static/images/theo_sklad.jpg" alt="ostrava v dymu">
                        </div>
                        <div class="date">10/2019</div>
                        <p>
                            "theo.czech" se stěhuje do nových vyrobních prostorů.
                        </p>
                    </div>
                </div>
                
            </div>
            
        </section>
    </div>
</div>