<div id="level-6">
    <div class="container">
        <h2>Wa<strong class="color-letter">l</strong>l of fame</h2>
        <div class="content-level-people">
            <div class="people-with-us">
                <div>
                    <p class="user-info"><strong>Danylo Kharytonov</strong> (Brno)</p>
                    <p class="user-feedback">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="people-with-us">
                <div>
                    <p class="user-info"><strong>Allayar</strong> (Praha)</p>
                    <p class="user-feedback">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="people-with-us">
                <div>
                    <p class="user-info"><strong>Assel Manabayeva</strong> (Brno)</p>
                    <p class="user-feedback">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>