<div id="level-3">
    <div class="container">
        <h2>Na<strong class="color-letter">š</strong>e produkty</h2>
        <div class="your-products">
            <div class="products-first-level">
                <div class="product product-1">
                    <img src="/static/images/theo_v1_vase.jpg" alt="theo vase V1">
                    <h3>V1</h3>
                </div>
                <div class="product product-2">
                    <img src="/static/images/theo_v2_vase.jpg" alt="theo vase V2">
                    <h3>V2</h3>
                </div>
                <div class="product product-3">
                    <img src="/static/images/theo_gold_vase.jpg" alt="theo vase V2 GOLD">
                    <h3>V2 GOLD</h3>
                </div>
            </div>
            <div class="products-second-level">
                <div class="product product-1">
                    <img src="/static/images/v2_black.jpg" alt="theo vase V2 BLVCK">
                    <h3>V2 BLVCK</h3>
                </div>
                <div class="product product-2">
                    <img src="/static/images/assort_of_tabaco.png" alt="assortiment tabaco theo">
                    <h3>Nabídka tabáku</h3>
                </div>
            </div>

        </div>
    </div>
</div>